# <%=link_to “Home”, concerts_path%>
# <p>Band Name:<%=@concert.band_name%></p>
# <p>Date:%=@concert.date%></p>
# <p>Start Time:%=@concert.start_time%></p>
# <%=link_to “Edit”, edit_concert_path(@concert)%>
# <%=button_to “Delete”, concert_path(@concert), method: :delete%>

